* {
  font-family: 'Benne';
  background-color: mintcream;
}

#toDoModal {
  display: none;
}

.completed {
  background-color: limegreen;
  opacity: 0.5;
}

.newProjectButton, .newToDoButton {
  background-color: palegreen;
  margin-bottom: 10px;
}

.toDoTitle:hover, .toDoDueDate:hover {
  color: olivedrab;
}

.toDoContainer {
  border: 2px solid steelblue;
}