/* General  */

* {
  font-family: 'Benne';
  background-color: mintcream;
}

button, input {
  min-height: 25px;
}




/* Modal  */

#toDoModal, #projectModal {
  display: none;
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-header, .modal-content, .closeButton, form, label {
  background-color: ivory;
}

.modal-content {
  margin: auto;
  padding: 10px;
  border: 1px solid papayawhip;
  width: 50%;
}

.closeButton {
  color: dimgray;
  float: right;
  font-size: 18px;
}

/* input {
  min-height: 50px;
} */

.closeButton:hover, .closeButton:focus {
  color:firebrick;
  cursor: pointer;
}

/* buttons, to-do general characteristics  */

.completed {
  background-color: limegreen;
  opacity: 0.5;
}

.newProjectButton, .newToDoButton {
  background-color: palegreen;
  margin-bottom: 10px;
}

.toDoTitle:hover, .toDoDueDate:hover {
  color: olivedrab;
}

.toDoContainer {
  border: 2px solid steelblue;
}